/*_________ FONTS __________*/

@font-face {
  font-family: "ProximaNovaBlack";
  src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
  src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"), url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff2") format("woff2"), url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype"), url("../fonts/ProximaNovaBlack/ProximaNovaBlack.svg#webfont") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNovaBold.eot");
  src: local("тШ║"), url("../fonts/ProximaNovaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold/ProximaNovaBold.woff2") format("woff2"), url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype"), url("../fonts/ProximaNovaBold/ProximaNovaBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaCondThinIt";
  src: url("../fonts/ProximaNovaCondThinIt/ProximaNovaCondThinIt.eot");
  src: url("../fonts/ProximaNovaCondThinIt/ProximaNovaCondThinIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCondThinIt/ProximaNovaCondThinIt.woff") format("woff"), url("../fonts/ProximaNovaCondThinIt/ProximaNovaCondThinIt.woff2") format("woff2"), url("../fonts/ProximaNovaCondThinIt/ProximaNovaCondThinIt.ttf") format("truetype"), url("../fonts/ProximaNovaCondThinIt/ProximaNovaCondThinIt.svg#webfont") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "ProximaNovaExtrabold";
  src: url("../fonts/ProximaNovaExtrabld/ProximaNovaExtrabld.eot");
  src: url("../fonts/ProximaNovaExtrabld/ProximaNovaExtrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExtrabld/ProximaNovaExtrabld.woff") format("woff"), url("../fonts/ProximaNovaExtrabld/ProximaNovaExtrabld.woff2") format("woff2"), url("../fonts/ProximaNovaExtrabld/ProximaNovaExtrabld.ttf") format("truetype"), url("../fonts/ProximaNovaExtrabld/ProximaNovaExtrabld.svg#webfont") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaLight";
  src: url("../fonts/ProximaNovaLight/ProximaNovaLight.eot");
  src: url("../fonts/ProximaNovaLight/ProximaNovaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaLight/ProximaNovaLight.woff") format("woff"), url("../fonts/ProximaNovaLight/ProximaNovaLight.woff2") format("woff2"), url("../fonts/ProximaNovaLight/ProximaNovaLight.ttf") format("truetype"), url("../fonts/ProximaNovaLight/ProximaNovaLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff2") format("woff2"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaSemibold";
  src: url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.eot");
  src: url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.woff") format("woff"), url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.woff2") format("woff2"), url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.ttf") format("truetype"), url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.svg#webfont") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaTThin";
  src: url("../fonts/ProximaNovaTThin/ProximaNovaTThin.eot");
  src: url("../fonts/ProximaNovaTThin/ProximaNovaTThin.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaTThin/ProximaNovaTThin.woff") format("woff"), url("../fonts/ProximaNovaTThin/ProximaNovaTThin.woff2") format("woff2"), url("../fonts/ProximaNovaTThin/ProximaNovaTThin.ttf") format("truetype"), url("../fonts/ProximaNovaTThin/ProximaNovaTThin.svg#webfont") format("svg");
  font-weight: 200;
  font-style: normal;
}