$font-primary: "ProximaNovaRegular",
Arial,
sans-serif;
$font-light: "ProximaNovaLight",
Arial,
sans-serif;
$font-semibold: "ProximaNovaSemibold",
Arial,
sans-serif;
$font-extrabold: "ProximaNovaExtrabold",
Arial,
sans-serif;
$font-bold: "ProximaNovaBold",
Arial,
sans-serif;
// colors
$navy: #00283e;
$snot-green: #90c800;
$ocean-blue: #006eac;
$warm-grey: #949494;
$charcoal: #313130;