{% extends "layouts/_layout.html" %} {% block content %}

<!-- begin header  -->
{% include "partials/_header.html" %}
<!-- end header -->

<!-- begin main  -->
<main class="main">
  <section class="content about-content">
    <div class="container">
      <h2 class="content__title">CLEANING MASTER, SAFED INC.</h2>
      <div class="content__text">
        <p class="paragraph">Cleaning services by Cleaning Master proudly offer the highest quality and the most affordable prices for professional cleaning and maid services in New York City. Our technicians are young, dependable and well trained; all of them have the expertise
          and experience to get the job done right.</p>
        <p class="paragraph">Our special training program that each of our technicians go through ensures that our client receives the best possible service. Our professionally trained technicians will make sure that your house will be cleaned to your highest expectations,
          and you will be surprised at how affordable our rates are. We use all the cleaning supplies to ensure the freshest and cleanest environment in your apartment.</p>
        <p class="paragraph">Cleaning Master will offer you service depending on your needs; whether you prefer one-time cleaning, monthly, bi-weekly or weekly service. There are no contracts to sign, we are sure that you will be pleased with every cleaning that we provide.</p>
        <p class="paragraph">Cleaning services are provided in the following areas
          <ul>
            <li>MANHATTAN</li>
            <li>BROOKLYN</li>
            <li>QUEENS</li>
            <li>BRONX</li>
            <li>STATEN ISLAND</li>
          </ul>
        </p>
      </div>
      <div class="video">
        <iframe width="756" height="400" class="video__frame" src="https://www.youtube.com/embed/kNOQ3VRCUlw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </section>
</main>
<!-- end main -->

<!-- begin footer  -->
{% include "partials/_footer.html" %}
<!-- end footer -->

{% endblock %}