{% extends "layouts/_layout.html" %} {% block content %}

<!-- begin header  -->
{% include "partials/_header.html" %}
<!-- end header -->

<!-- begin main  -->
<main class="main">
  <section class="content partners-content">
    <div class="container">
      <h2 class="content__title">Partners.</h2>
      <div class="content__text">
        <p class="paragraph">CLEANING MASTER is a house cleaning service that provides the right service and the right price. Whether you are looking for a weekly, bi-weekly, monthly or one-time cleaning, our mission is not only meeting your expectations but exceeding them.
          Receive an instant estimate of the total time and cost of your house cleaning service by inserting your requirements. 100% customer satisfaction is not only our goal but a guarantee. All of our trained professionals are ready to provide the
          best service, whether it's a basic cleaning, regular weekly cleaning, or even detailed move-out/move-in cleaning.</p>
      </div>
    </div>
    <div class="partners-table">
      <div class="container">
        <div class="partners__item">
          <div class="row">
            <div class="partners__brand"><img src="img/amazone_dark.png" alt="Partners"></div>
            <p class="partners__desc">We are the top rated provider of Amazon Home Services</p>
            <a href="#" type="button" class="btn btn--empty">Click here</a>
          </div>
        </div>
        <div class="partners__item">
          <div class="row">
            <div class="partners__brand"><img src="img/partner2.jpg" alt="Partners"></div>
            <p class="partners__desc">We are the top rated provider of Amazon Home Services</p>
            <a href="#" type="button" class="btn btn--empty">Click here</a>
          </div>
        </div>
        <div class="partners__item">
          <div class="row">
            <div class="partners__brand"><img src="img/partner3.jpg" alt="Partners"></div>
            <p class="partners__desc">We are the top rated provider of Amazon Home Services</p>
            <a href="#" type="button" class="btn btn--empty">Click here</a>
          </div>
        </div>
        <div class="partners__item">
          <div class="row">
            <div class="partners__brand"><img src="img/partner4.jpg" alt="Partners"></div>
            <p class="partners__desc">We are the top rated provider of Amazon Home Services</p>
            <a href="#" type="button" class="btn btn--empty">Click here</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- end main -->

<!-- begin footer  -->
{% include "partials/_footer.html" %}
<!-- end footer -->

{% endblock %}