{% extends "layouts/_layout.html" %} {% block content %}

<!-- begin header  -->
{% include "partials/_header-resident.html" %}
<!-- end header -->

<!-- begin main  -->
<main class="main pt-100">
  <section class="content time-page resident-page">
    <div class="container">
      <h2 class="content__title text-center">When should we come clean?</h2>
      <p class="content__subtitle text-center">Save even more by booking off-peak dates and times.</p>
      <div class="time">
        <div class="time__header">
          <div class="time__cell time__cell--left">
            <p class="time__month">January</p>
            <p class="time__date">17</p>
            <p class="time__day">Saturday</p>
          </div>
          <div class="time__cell time__cell--highlight">
            <p class="time__date">18</p>
            <div class="row">
              <p class="time__day">Thursday</p><span>,</span>
              <p class="time__month">January</p>
            </div>
          </div>
          <div class="time__cell time__cell--right">
            <p class="time__month">January</p>
            <p class="time__date">19</p>
            <p class="time__day">Saturday</p>
          </div>
        </div>
        <!-- <h4 class="time__title text-center">Select a time</h4> -->
        <div class="time__period-wrap">
          <div class="periods__titles">
            <h6 class="periods__title">Early</h6>
            <h6 class="periods__title">Later</h6>
          </div>
          <div class="time__periods" id="periodsWrap">
            <div class="periods__item">
              <input type="radio" id="timePeriod-1" name="periods-radio-group" class="periods__radio-input">
              <label for="timePeriod-1" class="periods__label">
                <span class="periods__value">08:00 am - 09:00 am</span>
              </label>
            </div>
            <div class="periods__item">
              <input type="radio" id="timePeriod-2" name="periods-radio-group" class="periods__radio-input">
              <label for="timePeriod-2" class="periods__label">
                <span class="periods__value">09:00 am - 10:00 am</span>
              </label>
            </div>
            <div class="periods__item">
              <input type="radio" id="timePeriod-3" name="periods-radio-group" class="periods__radio-input">
              <label for="timePeriod-3" class="periods__label">
                <span class="periods__value">10:00 am - 11:00 am</span>
              </label>
            </div>
            <div class="periods__item">
              <input type="radio" id="timePeriod-4" name="periods-radio-group" class="periods__radio-input">
              <label for="timePeriod-4" class="periods__label">
                <span class="periods__value">11:00 am - 12:00 am</span>
              </label>
            </div>
            <div class="periods__item">
              <input type="radio" id="timePeriod-5" name="periods-radio-group" class="periods__radio-input">
              <label for="timePeriod-5" class="periods__label">
                <span class="periods__value">12:00 am - 01:00 pm</span>
              </label>
            </div>
            <div class="periods__item">
              <input type="radio" id="timePeriod-6" name="periods-radio-group" class="periods__radio-input">
              <label for="timePeriod-6" class="periods__label">
                <span class="periods__value">01:00 pm - 02:00 pm</span>
              </label>
            </div>
            <div class="periods__item">
              <input type="radio" id="timePeriod-7" name="periods-radio-group" class="periods__radio-input">
              <label for="timePeriod-7" class="periods__label">
                <span class="periods__value">14:00 pm - 03:00 pm</span>
              </label>
            </div>
            <div class="periods__item">
              <input type="radio" id="timePeriod-8" name="periods-radio-group" class="periods__radio-input">
              <label for="timePeriod-8" class="periods__label">
                <span class="periods__value">03:00 pm - 04:00 pm</span>
              </label>
            </div>
            <div class="periods__item">
              <input type="radio" id="timePeriod-9" name="periods-radio-group" class="periods__radio-input">
              <label for="timePeriod-9" class="periods__label">
                <span class="periods__value">04:00 pm - 05:00 pm</span>
              </label>
            </div>
            <div class="periods__item">
              <input type="radio" id="timePeriod-10" name="periods-radio-group" class="periods__radio-input">
              <label for="timePeriod-10" class="periods__label">
                <span class="periods__value">05:00 pm - 06:00 pm</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <a href="residental_booking_address.html" type="button" class="btn btn--green btn-next">Next</a>
    </div>
  </section>

</main>
<!-- end main -->

<!-- begin footer  -->
{% include "partials/_footer.html" %}
<!-- end footer -->

{% endblock %}