{% extends "layouts/_layout.html" %} {% block content %}

<!-- begin header  -->
{% include "partials/_header-resident.html" %}
<!-- end header -->

<!-- begin main  -->
<main class="main">
  <section class="content book-page">
    <div class="container">
      <h2 class="content__title text-center">Book a cleaning today</h2>
      <div class="booking">
        <div class="booking__block">
          <h5 class="booking__caption">NUMBER OF Bedrooms</h5>
          <div class="booking__inputs">
            <div class="booking__value">
              <input type="radio" id="room-bedroom-0" name="room-bedroom-group" checked>
              <label for="room-bedroom-0">Studio</label>
            </div>
            <div class="booking__value">
              <input type="radio" id="room-bedroom-1" name="room-bedroom-group">
              <label for="room-bedroom-1">1</label>
            </div>
            <div class="booking__value">
              <input type="radio" id="room-bedroom-2" name="room-bedroom-group">
              <label for="room-bedroom-2">2</label>
            </div>
            <div class="booking__value">
              <input type="radio" id="room-bedroom-3" name="room-bedroom-group">
              <label for="room-bedroom-3">3</label>
            </div>
            <div class="booking__value">
              <input type="radio" id="room-bedroom-4" name="room-bedroom-group">
              <label for="room-bedroom-4">4</label>
            </div>
            <div class="booking__value">
              <input type="radio" id="room-bedroom-5" name="room-bedroom-group">
              <label for="room-bedroom-5">5</label>
            </div>
          </div>
        </div>
        <div class="booking__block">
          <h5 class="booking__caption">NUMBER OF Bathrooms</h5>
          <div class="booking__inputs">
            <div class="booking__value">
              <input type="radio" id="room-bathroom-1" name="room-bathroom-group" checked>
              <label for="room-bathroom-1">1</label>
            </div>
            <div class="booking__value">
              <input type="radio" id="room-bathroom-2" name="room-bathroom-group">
              <label for="room-bathroom-2">2</label>
            </div>
            <div class="booking__value">
              <input type="radio" id="room-bathroom-3" name="room-bathroom-group">
              <label for="room-bathroom-3">3</label>
            </div>
            <div class="booking__value">
              <input type="radio" id="room-bathroom-4" name="room-bathroom-group">
              <label for="room-bathroom-4">4</label>
            </div>
            <div class="booking__value">
              <input type="radio" id="room-bathroom-5" name="room-bathroom-group">
              <label for="room-bathroom-5">5</label>
            </div>
          </div>
        </div>
        <div class="booking__block">
          <h5 class="booking__caption">Clean type</h5>
          <div class="booking__inputs">
            <div class="booking__value">
              <input type="radio" id="plan-standart" name="room-plan-group" checked>
              <label for="plan-standart">
                <span class="value__name">Basic Cleaning</span>
                <span class="value__desc">∽ 2hours</span>
              </label>
            </div>
            <div class="booking__value">
              <input type="radio" id="plan-deep" name="room-plan-group">
              <label for="plan-deep">
                <span class="value__name">Deep Cleaning</span>
                <span class="value__desc">4,5 - 5 hours</span>
              </label>
            </div>
            <div class="booking__value">
              <input type="radio" id="plan-moving" name="room-plan-group">
              <label for="plan-moving">
                <span class="value__name">Moving In/Out Cleaning</span>
                <span class="value__desc">4,5 - 5 hours</span>
              </label>
            </div>
          </div>
        </div>

        <div class="booking__block booking__block--addons">
          <h5 class="booking__caption">Addons?</h5>
          <div class="booking__inputs">
            <div class="booking__addon">
              <input type="checkbox" class="addon-checkbox" id="addon-fridge" name="addon-fridge" checked>
              <label for="addon-fridge">
                <span class="addon__icon">{{mixins.icon('fridge')}}</span>
                <span class="addon__text">
                  <span class="addon__name">Inside Fridge</span>
                  <span class="addon__price">$35</span>
                </span>
                <span class="addon__action">
                  <span class="icon-action icon-remove"><span></span><span></span></span>
                </span>
              </label>
            </div>
            <div class="booking__addon">
              <input type="checkbox" class="addon-checkbox" id="addon-oven" name="addon-oven">
              <label for="addon-oven">
                <span class="addon__icon">{{mixins.icon('grave')}}</span>
                <span class="addon__text">
                  <span class="addon__name">Inside Oven</span>
                  <span class="addon__price">$35</span>
                </span>
                <span class="addon__action">
                  <span class="icon-action icon-add"><span></span><span></span></span>
                </span>
              </label>
            </div>
            <div class="booking__addon">
              <input type="checkbox" class="addon-checkbox" id="addon-cabinet" name="addon-cabinet">
              <label for="addon-cabinet">
              <span class="addon__icon">{{mixins.icon('wardrobe')}}</span>
              <span class="addon__text">
                <span class="addon__name">Inside Cabinets</span>
                <span class="addon__price">$35</span>
              </span>
              <span class="addon__action">
                <span class="icon-action icon-add"><span></span><span></span></span>
              </span>
            </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <a href="residental_booking_schedule.html" type="button" class="btn btn--green btn-next">Next</a>
      </div>
    </div>
  </section>
</main>
<!-- end main -->

<!-- begin footer  -->
{% include "partials/_footer.html" %}
<!-- end footer -->

{% endblock %}