{% extends "layouts/_layout.html" %} {% block content %}

<!-- begin header  -->
{% include "partials/_header-resident.html" %}
<!-- end header -->

<!-- begin main  -->
<main class="main">
  <section class="content time-page resident-page">
    <div class="container">
      <h2 class="content__title text-center">When should we come clean?</h2>
      <p class="content__subtitle text-center">Save even more by booking off-peak dates and times.</p>
      <div class="time">
        <div class="time__header">
          <div class="time__cell time__cell--left">
            <p class="time__month">January</p>
            <p class="time__date">17</p>
            <p class="time__day">Saturday</p>
          </div>
          <div class="time__cell time__cell--highlight">
            <p class="time__date">18</p>
            <div class="row">
              <p class="time__day">Thursday</p><span>,</span>
              <p class="time__month">January</p>
            </div>
          </div>
          <div class="time__cell time__cell--right">
            <p class="time__month">January</p>
            <p class="time__date">19</p>
            <p class="time__day">Saturday</p>
          </div>
        </div>
        <h4 class="time__title text-center">Select a time</h4>
        <div class="time__zone">
          <p>Times are in Eastern Time - US</p>
          <div class="time__switcher">
            <div class="switch">
              <input type="radio" class="switch-input" name="view" value="ampm" id="ampm" checked>
              <label for="ampm" class="switch-label switch-label-off">am/pm</label>
              <input type="radio" class="switch-input" name="view" value="hours" id="hours">
              <label for="hours" class="switch-label switch-label-on">24 hr</label>
              <span class="switch-selection"></span>
            </div>
          </div>
        </div>
        <div class="time__period-wrap">
          <div class="periods__titles">
            <h6 class="periods__title">Early</h6>
            <h6 class="periods__title">Later</h6>
          </div>
          <div class="time__periods" id="periodsWrap">
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <a href="residental_booking_address.html" type="button" class="btn btn--green btn-next">Next</a>
    </div> -->
  </section>

</main>
<!-- end main -->

<!-- begin footer  -->
{% include "partials/_footer.html" %}
<!-- end footer -->

{% endblock %}