{% extends "layouts/_layout.html" %} {% block content %}

<!-- begin header  -->
{% include "partials/_header.html" %}
<!-- end header -->

<!-- begin main  -->
<main class="main">
  <section class="content services-content">
    <div class="container">
      <div class="services__picture">
        <img src="img/services/basic.png" alt="Services">
      </div>
      <h2 class="content__title text-center">Basic Cleaning</h2>
      <div class="content__text mt">
        <p class="paragraph">While Basic Cleaning all floors will be vacuumed and mopped, all the surfaces will be cleaned, the top of the stove, inside the microwave, and the whole bathroom will be cleaned as well. If it is not done on a regular basis, cleaning a house is
          overwhelming. Unclean home can create a lot of stress and even possible health problems in the future. By using our Basic Cleaning Package on the regular basis you can give yourself a clean and peaceful environment. Basic Cleaning Package is
          ideal for maintaining the cleanliness of your house with a regular/recurring cleaning service, especially after completing a Deep Cleaning Package. We recommend choosing a Deep Cleaning before using a Basic Cleaning Package if your house was
          not cleaned in the last 5 to 6 months.</p>
      </div>
    </div>
  </section>
</main>
<!-- end main -->

<!-- begin footer  -->
{% include "partials/_footer.html" %}
<!-- end footer -->

{% endblock %}