{% extends "layouts/_layout.html" %} {% block content %}

<!-- begin header  -->
{% include "partials/_header.html" %}
<!-- end header -->

<!-- begin main  -->
<main class="main">
  <section class="content thanks-content">
    <div class="container">
      <h2 class="content__title">Thank you!</h2>
      <p class="content__subtitle">You order : # 325345</p>
      <p class="paragraph">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit
        amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris </p>
      <div class="form thanks__form">
        <form action="#">
          <div class="row">
            <div class="col">
              <label class="form__label" for="form-email">email</label>
              <input type="email" name="email" id="form-email" class="form__input">
            </div>
            <div class="col">
              <label class="form__label" for="form-password">password</label>
              <input type="password" name="password" id="form-password" class="form__input">
            </div>
          </div>
          <div class="row">
            <a href="#" class="form__forgot">Forgot your password</a>
          </div>
          <div class="row">
            <button type="submit" class="btn btn--green btn-submit">Register</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
<!-- end main -->

<!-- begin footer  -->
{% include "partials/_footer.html" %}
<!-- end footer -->

{% endblock %}