<div class="footer">
  <div class="container container--1260">
    <div class="row  footer__top">
      <div class="footer__left">
        <div class="footer__logo">
          <a href="#">
            <img src="img/logo-footer.png" alt="Cleaning master">
          </a>
        </div>
        <ul class="contact">
          <li class="contact__item">
            <span class="contact__icon">{{mixins.icon('marker')}}</span>
            <p class="contact__item-text">469 7th Avenue, New York, NY 10018</p>
          </li>
          <li class="contact__item">
            <span class="contact__icon">{{mixins.icon('mail')}}</span>
            <a href="mailto:info@cleaning-master.com" class="contact__item-text">info@cleaning-master.com</a>
          </li>
          <li class="contact__item contact__item--tel">
            <span class="contact__icon">{{mixins.icon('phone')}}</span>
            <a href="tel:(347) 896-2580" class="contact__item-text">(347) 896-2580</a>
          </li>
        </ul>

      </div>
      <div class="footer__right">
        <div class="socials">
          <div class="row">
            <a href="#" class="socials__link"><img src="img/apple_store.png" alt="App Store" class="social__appstore"></a>
            <a href="#" class="socials__link social__playmarket"><img src="img/play_market.png" alt="Play Market"></a>
            <a href="#" class="socials__link socials__link--fb">{{mixins.icon('facebook')}}</a>
            <a href="#" class="socials__link">{{mixins.icon('twitter')}}</a>
            <a href="#" class="socials__link">{{mixins.icon('google-plus')}}</a>
          </div>
        </div>
        <a href="residental_booking.html" class="btn btn--green bnt-book" role="button">Book now</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row footer__bottom">
      <div class="footer__copy">
        <span>Copyright © 2017 Cleaning Master. All rights reserved</span>
        <span class="separator">|</span>
        <a href="#" class="copy__link">Terms of Service</a>
        <span class="separator">|</span>
        <a href="#" class="copy__link">Privacy Policy</a>
      </div>
      <div class="footer__help">
        <div class="row">
          <a href="#" class="powered">Powered by webandad</a>
          <a href="#">
            <img src="img/help_chat.png" class="help__chat" alt="Chat">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>