<header class="header header--order">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <a href="index.html">
          <img src="img/logo.png" alt="Cleaning Master">
        </a>
      </div>
      <div class="header__right" id="header__right--resident">
        <div class="header__order row">
          <div class="only-narrow order__title">Your clean</div>
          <div class="stage stage--bedrooms">
            <p class="stage__name">Bedrooms</p>
            <p class="stage__value">Studio</p>
            <p class="stage__desc"></p>
          </div>
          <div class="stage">
            <p class="stage__name">Bathrooms</p>
            <p class="stage__value">2</p>
            <p class="stage__desc"></p>
          </div>
          <div class="stage is-active">
            <p class="stage__name">Clean Type</p>
            <p class="stage__value">Standart</p>
            <p class="stage__desc">2 - 2.5 Hours</p>
          </div>
          <div class="stage stage--date">
            <p class="stage__name">SCHEDULE DATE</p>
            <p class="stage__value">Januar, 17, 2018</p>
            <p class="stage__desc">Wednesday</p>
          </div>
          <div class="stage stage--address">
            <p class="stage__name">address</p>
            <p class="stage__value">2348 Massachusetts Ave
            </p>
            <p class="stage__desc">Cambridge, MA 02140</p>
          </div>
          <div class="stage stage--subtital">
            <p class="stage__name">subtital</p>
            <p class="stage__value"><span class="dollar">$</span>149</p>
            <p class="stage__desc"></p>
          </div>
        </div>
      </div>
      <a href="#" id="touch-icon">
        <div id="nav-icon-arrow">
          {{mixins.icon('arrow-up')}}
        </div>
      </a>
    </div>
  </div>
</header>