<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <a href="index.html">
          <img src="img/logo.png" alt="Cleaning Master">
        </a>
      </div>
      <div class="header__right row" id="header__right">
        <nav class="nav">
          <a href="services.html" class="nav__item">Services</a>
          <a href="residental_booking.html" class="nav__item">Book cleaning</a>
          <a href="contact_us.html" class="nav__item">Contact Us</a>
          <a href="testimonials.html" class="nav__item">Testimonials</a>
          <a href="about.html" class="nav__item">About</a>
          <a href="partners.html" class="nav__item">Partners</a>
          <a href="faq.html" class="nav__item">FAQ</a>
        </nav>
        <div class="header__profile">
          <a href="tel:(347) 896-2580" class="header__phone">(347) 896-2580</a>
          <a href="#" class="header__login">Login</a>
        </div>
      </div>
      <a href="#" id="touch-menu">
        <div id="nav-icon1">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </a>
    </div>
  </div>
</header>